:root {
    --civilian-color: rgb(228, 201, 143);
    --team1-color: rgb(33, 105, 199);
    --team2-color: rgb(184, 56, 33);
    --assassin-color: rgb(35, 37, 37);
  }

  .boardGame {
    display: grid;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 5px;
}

.wordList {
/*   display: grid;  
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;  */
  color: var(--civilian-color);  
  font-size: x-large;  
  user-select: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
  column-count: 4;
  column-width: 8cm;
}

.wordList ul{
  break-inside: avoid-column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding: 0px;
  display: grid;
  justify-content: center;
}


.wordList ul li{
  background-color: var(--civilian-color);      
    border-radius: 5px;
    display: table;
    text-align: center;  
    min-width: 5cm;
    max-width: 8cm;
    color: var(--font-color);
    margin: 10px;
    padding: 5px;
}

.tile {
    background-color: var(--civilian-color);      
    border-radius: 5px;
    display: table;
    text-align: center;  
  }

.tileText {
    color: var(--font-color);
    font-size: x-large;          
    display: table-cell;
    table-layout:fixed;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    user-select: none;
  }

#startingTeam {
    width: 50px;  
    height: 50px;
    padding-top: 0%;
  }

  #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}