:root {
    --civilian-color: rgb(204, 184, 141);
    --team1-color: rgb(33, 105, 199);
    --team2-color: rgb(184, 56, 33);
    --assassin-color: rgb(35, 37, 37);
  }

  .boardGame {
    display: grid;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 5px;
}

.tile {
    background-color: var(--civilian-color);      
    border-radius: 5px;
    display: table;
    text-align: center;  
  }

.tileText {
    color: var(--font-color);
    font-size: x-large;          
    display: table-cell;
    table-layout:fixed;
    vertical-align: middle;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
  }

#startingTeam {
    width: 50px;  
    height: 50px;
    padding-top: 0%;
  }