.box {
    background-color: rgb(255, 0, 0);    
    width: auto;
    padding-top: 100%;
    border-color: black;
  }

.grid-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}